.graduate-portfolio-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.graduate-portfolio-graduate-portfolio {
  width: 100%;
  height: 4180px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(254, 190, 85, 1);
}
.graduate-portfolio-toolbar {
  top: 0px;
  left: 15px;
  width: 422px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-rectangle14 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 70px;
  position: absolute;
}
.graduate-portfolio-toolbar1 {
  top: 16px;
  left: 7px;
  width: 415px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-group3 {
  top: 0px;
  left: 0px;
  width: 415px;
  height: 19px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-text {
  color: rgba(0, 0, 0, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-text002 {
  left: 80px;
  color: rgba(0, 0, 0, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-text004 {
  left: 169px;
  color: rgba(0, 0, 0, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-text006 {
  left: 237px;
  color: rgba(0, 0, 0, 1);
  width: 68px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-text008 {
  left: 276px;
  color: rgba(0, 0, 0, 1);
  width: 139px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-home {
  top: 61px;
  left: 15px;
  width: 470.41015625px;
  height: 890.5463256835938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-group30 {
  top: 0px;
  left: 0px;
  width: 470.41015625px;
  height: 890.5463256835938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-group15 {
  top: 0px;
  left: 0px;
  width: 470.41015625px;
  height: 890.5463256835938px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-rectangle5 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 891px;
  position: absolute;
}
.graduate-portfolio-img02981 {
  top: 4px;
  left: 0px;
  width: 400px;
  height: 587px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h8 {
  top: 39.020263671875px;
  left: 36.6199951171875px;
  width: 47px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h2 {
  top: 251px;
  left: 343px;
  width: 47px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h9 {
  top: 371px;
  left: 0px;
  width: 47px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-text010 {
  top: 646.392822265625px;
  left: 33.7535400390625px;
  color: rgba(0, 0, 0, 1);
  width: 333px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-text012 {
  top: 563.3419189453125px;
  left: 59.5516357421875px;
  color: rgba(194, 126, 145, 1);
  width: 411px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-text014 {
  top: 605.36767578125px;
  left: 66.239990234375px;
  color: rgba(247, 180, 74, 1);
  width: 343px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Bold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-icons-list {
  top: 839px;
  left: 144px;
  width: 111.79173278808594px;
  height: 24.014732360839844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-mdigithub {
  top: 0.0000152587890625px;
  left: 0px;
  width: 23px;
  height: 24px;
  position: absolute;
}
.graduate-portfolio-icbaselineemail {
  top: 0px;
  left: 29.619997024536133px;
  width: 23px;
  height: 24px;
  position: absolute;
}
.graduate-portfolio-mdilinkedin {
  top: 0px;
  left: 59.240028381347656px;
  width: 23px;
  height: 24px;
  position: absolute;
}
.graduate-portfolio-riinstagramfill {
  top: 0px;
  left: 88.86006164550781px;
  width: 23px;
  height: 24px;
  position: absolute;
}
.graduate-portfolio-projects {
  top: 947px;
  left: 15px;
  width: 400px;
  height: 600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-group21 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 248, 246, 1);
}
.graduate-portfolio-group16 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 242px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 248, 246, 1);
}
.graduate-portfolio-clemsontigers24813125039200h14 {
  top: 33px;
  left: 27px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h15 {
  top: 160px;
  left: 158px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h16 {
  top: 33px;
  left: 299px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-group7 {
  top: 87px;
  left: 124px;
  width: 166px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-text016 {
  color: rgba(194, 126, 145, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-rectangle11 {
  top: 249px;
  left: 0px;
  width: 400px;
  height: 351px;
  position: absolute;
}
.graduate-portfolio-group29 {
  top: 394px;
  left: 33px;
  width: 348px;
  height: 26px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-text018 {
  color: rgba(0, 0, 0, 1);
  width: 348px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Regular;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-classes {
  top: 1547px;
  left: 15px;
  width: 400px;
  height: 600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-group22 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 600px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 248, 246, 1);
}
.graduate-portfolio-group17 {
  top: 7px;
  left: 0px;
  width: 400px;
  height: 242px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 248, 246, 1);
}
.graduate-portfolio-clemsontigers24813125039200h141 {
  top: 33px;
  left: 27px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h151 {
  top: 160px;
  left: 158px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h161 {
  top: 33px;
  left: 299px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-group71 {
  top: 87px;
  left: 124px;
  width: 166px;
  height: 41px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-text020 {
  color: rgba(194, 126, 145, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-rectangle13 {
  top: 249px;
  left: 0px;
  width: 400px;
  height: 351px;
  position: absolute;
}
.graduate-portfolio-text022 {
  top: 317px;
  left: 121px;
  color: rgba(241, 148, 0, 1);
  width: 158px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Medium;
  text-align: left;
  font-family: Work Sans;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-text024 {
  top: 393px;
  left: 61px;
  color: rgba(0, 0, 0, 1);
  width: 317px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-cv {
  top: 1705px;
  left: -2248px;
  width: 2663px;
  height: 1536px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-cv1 {
  top: 0px;
  left: 0px;
  width: 2663px;
  height: 1536px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-rectangle9 {
  top: 440px;
  left: 2263px;
  width: 400px;
  height: 1045px;
  position: absolute;
}
.graduate-portfolio-group18 {
  top: 440px;
  left: 2263px;
  width: 400px;
  height: 242px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(250, 248, 246, 1);
}
.graduate-portfolio-clemsontigers24813125039200h142 {
  top: 33px;
  left: 27px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h152 {
  top: 160px;
  left: 158px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h162 {
  top: 33px;
  left: 299px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-group72 {
  top: 80px;
  left: 168px;
  width: 64px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-text033 {
  color: rgba(194, 126, 145, 1);
  width: 64px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-rectangle1 {
  top: 682px;
  left: 2263px;
  width: 400px;
  height: 803px;
  position: absolute;
}
.graduate-portfolio-text035 {
  color: rgba(0, 0, 0, 1);
  width: 350px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-text036 {
  font-weight: 800;
}
.graduate-portfolio-text040 {
  font-weight: 600;
}
.graduate-portfolio-text044 {
  font-weight: 800;
}
.graduate-portfolio-text050 {
  font-weight: 600;
}
.graduate-portfolio-text054 {
  font-weight: 400;
}
.graduate-portfolio-text055 {
  font-weight: 600;
}
.graduate-portfolio-text059 {
  font-weight: 400;
}
.graduate-portfolio-text081 {
  font-weight: 600;
}
.graduate-portfolio-text082 {
  font-weight: 400;
}
.graduate-portfolio-text083 {
  font-weight: 600;
}
.graduate-portfolio-text087 {
  font-weight: 400;
}
.graduate-portfolio-text107 {
  font-weight: 600;
}
.graduate-portfolio-text108 {
  font-weight: 400;
}
.graduate-portfolio-text109 {
  font-weight: 600;
}
.graduate-portfolio-text113 {
  font-weight: 400;
}
.graduate-portfolio-text133 {
  font-weight: 800;
}
.graduate-portfolio-text141 {
  font-weight: 600;
}
.graduate-portfolio-text142 {
  font-weight: 400;
}
.graduate-portfolio-text143 {
  font-weight: 600;
}
.graduate-portfolio-text147 {
  font-weight: 400;
}
.graduate-portfolio-text155 {
  font-weight: 600;
}
.graduate-portfolio-text159 {
  font-weight: 400;
}
.graduate-portfolio-text167 {
  font-weight: 600;
}
.graduate-portfolio-text171 {
  font-weight: 400;
}
.graduate-portfolio-text177 {
  font-weight: 800;
}
.graduate-portfolio-text187 {
  font-weight: 400;
}
.graduate-portfolio-academiconscvsquare {
  top: 1438px;
  left: 2421px;
  width: 70px;
  height: 94px;
  position: absolute;
}
.graduate-portfolio-line1 {
  top: 1473px;
  left: 2228px;
  width: 488px;
  height: 1px;
  position: absolute;
}
.graduate-portfolio-group31 {
  top: 712px;
  left: 2290px;
  width: 350px;
  height: 641px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-text199 {
  color: rgba(0, 0, 0, 1);
  width: 350px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-text200 {
  text-decoration: UNDERLINE;
}
.graduate-portfolio-text204 {
  color: rgba(0, 0, 0, 1);
}
.graduate-portfolio-text222 {
  color: rgba(255, 255, 255, 1);
}
.graduate-portfolio-text226 {
  text-decoration: NONE;
}
.graduate-portfolio-text236 {
  text-decoration: UNDERLINE;
}
.graduate-portfolio-text240 {
  text-decoration: NONE;
}
.graduate-portfolio-text270 {
  text-decoration: UNDERLINE;
}
.graduate-portfolio-text278 {
  top: 1466px;
  left: 2412px;
  color: rgba(0, 0, 0, 1);
  width: 166px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: Light;
  text-align: left;
  font-family: Work Sans;
  font-weight: 300;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-contactme {
  top: 3190px;
  left: 15px;
  width: 400px;
  height: 1023px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-group28 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 1023px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-rectangle10 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 1000px;
  position: absolute;
}
.graduate-portfolio-rectangle6 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 242px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h143 {
  top: 33px;
  left: 27px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h153 {
  top: 160px;
  left: 158px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-clemsontigers24813125039200h163 {
  top: 33px;
  left: 299px;
  width: 61px;
  height: 47px;
  position: absolute;
}
.graduate-portfolio-group73 {
  top: 88px;
  left: 98px;
  width: 225px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-text280 {
  color: rgba(194, 126, 145, 1);
  width: 225px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-rectangle12 {
  top: 242px;
  left: 0px;
  width: 400px;
  height: 758px;
  position: absolute;
}
.graduate-portfolio-group27 {
  top: 575px;
  left: 0px;
  width: 400px;
  height: 362px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-image775232phoneinhandpngimagesnapchatoniphone1 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 362px;
  position: absolute;
}
.graduate-portfolio-text282 {
  top: 87px;
  left: 104.97737884521484px;
  color: rgba(0, 0, 0, 1);
  width: 87px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Work Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-gameiconscoffeecup {
  top: 153px;
  left: 98px;
  width: 85px;
  height: 83px;
  position: absolute;
}
.graduate-portfolio-text284 {
  top: 346px;
  left: 62px;
  color: rgba(0, 0, 0, 1);
  width: 276px;
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: SemiBold;
  text-align: center;
  font-family: Work Sans;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.graduate-portfolio-group13 {
  top: 939px;
  left: 0px;
  width: 400px;
  height: 84px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.graduate-portfolio-rectangle3 {
  top: 0px;
  left: 0px;
  width: 400px;
  height: 61px;
  position: absolute;
}
.graduate-portfolio-text291 {
  top: 22px;
  left: 52px;
  color: rgba(194, 126, 145, 1);
  width: 308px;
  height: auto;
  position: absolute;
  font-size: 11px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Work Sans;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 479px) {
  .graduate-portfolio-container {
    background-color: #FEBE55;
  }
  .graduate-portfolio-graduate-portfolio {
    width: 443px;
    height: 4183px;
  }
}
